html, body {
   background-color: #303536;
   color: #DDDDDD;
   font-family: Verdana, serif;
}

a, a:visited, a:active {
   color: #2aa198;
   border-color: #073642;
   text-decoration: none;
}

a:hover {
   border-color: #073642;
   color: rgb(255,223,0);
   text-decoration: underline;
}

a.image:hover {
   background-color: #171717;
}

h1, h2, h3 {
   color: #DDDDDD;
}

dl {
   margin-left: 1em;
   margin-right: 1em;
}

#content {
   width: 80%;
   margin: 0 auto;
}

#centered {
   width: 80%;
   margin: 0 auto;
   padding: 10px;
   background-color: #1D2021;
   border-radius: 10px;
   box-shadow: inset 0 1px 10px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1), 0 -1px 0 rgba(0,0,0,0.5);
}

.center {
   text-align: center;
}

.title {
   text-align: center;
   color: #888888;
   width: 80%;
   margin-left:auto;
   margin-right:auto;
}

a.back {
   background-color: #282828;
   padding: 5px 10px 5px 10px;
   border-radius: 10px;
   box-shadow: 0 1px 10px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1), 0 1px 0 rgba(0,0,0,0.5);
}

code {
   padding: 3px;
   background-color: black;
   color: #f9f5d7;
   box-shadow: inset 0 1px 10px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1), 0 -1px 0 rgba(0,0,0,0.5);
}

blockquote {
   font-style: italic;
}

@media screen and (max-width: 900px) {
   #centered, #content, .title {
      min-width: 95%;
   }
}
