html, body {
   background-color: #303536;
   color: #DDDDDD;
   font-family: Verdana, serif;
}

a, a:visited, a:active {
   color: #8cf;
   text-decoration: none;
}

a:hover {
   color: #fff;
}

a.image:hover {
   background-color: #171717;
}

h1, h2, h3 {
   color: #DDDDDD;
}

dl {
   margin-left: 1em;
   margin-right: 1em;
}

#content {
   width: 80%;
   margin: 0 auto;
}

#centered {
   width: 80%;
   margin: 0 auto;
   padding: 10px;
   background-color: #1D2021;
   border-radius: 10px;
   box-shadow: inset 0 1px 10px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1), 0 -1px 0 rgba(0,0,0,0.5);
}

.center {
   text-align: center;
}

.title, footer {
   text-align: center;
   color: #888888;
   width: 80%;
   margin-left:auto;
   margin-right:auto;
}

a.back {
   background-color: #161819;
   padding: 5px 10px 5px 10px;
   border-radius: 10px;
   box-shadow: 0 1px 10px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1), 0 1px 0 rgba(0,0,0,0.5);
}

code {
   padding: 3px;
   background-color: black;
   border-color: white;
   border: 1px solid;
   border-radius: 5px;
   box-shadow: inset 0 1px 10px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1), 0 -1px 0 rgba(0,0,0,0.5);
}

blockquote {
   font-style: italic;
}

details {
   padding-left: 20%;
   padding-bottom: 2%;
}

details.yeartop {
   padding-left: 5%;
   padding-top: 2%;
   padding-bottom: 0;
}

details.yearbottom {
   padding-left: 5%;
   padding-top: 1%;
   padding-bottom: 0;
}

@media screen and (max-width: 900px) {
   #centered, #content, .title {
      min-width: 95%;
   }
}
