<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <link href="../../assets/css/style.css" rel="stylesheet" />
      <title>{%title%} | {%Name%}</title>
   </head>
   <body>
      <h1 class="title">{%title%}</h1>
      <div id="centered">
         @@IF@@ {%EXIST:summary%}
         <details>
            <summary>{%summary%}</summary>
            {%details%}
         </details>
         @@END_IF@@
         {%Content%}
      </div>
      <div id="content">
         <p><a class="back" href="../index.html">Back</a></p>
      </div>
      <footer>
         <p class="center">Contact: <a href="https://matrix.to/#/@thindil:matrix.org">@thindil:matrix.org</a>. Generated: {%NOW%} with <a href="https://yet-another-static-site-generator.github.io/">Yass</a>. <a href="http://nfftciiyafqcdjmw5svxjpuwdanf3l2lfeid2oilsxxblgjmcthq.b32.i2p/">I2P address</a></p>
      </footer>
   </body>
</html>
