<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <link href="../assets/css/style.css" rel="stylesheet" />
      <title>{%title%} | {%Name%}</title>
   </head>
   <body>
      <h1 class="title">{%title%}</h1>
      <div id="content">
         {%Content%}
      </div>
      <div id="centered">
         <h3 align="center">Last posts</h3>
         <dl>
         @@TABLE@@
            <dt><a href="{%bloglinks%}">{%bloglinkstext%}</a></dt>
            <dd>{%bloglinksdesc%}</dd>
         @@END_TABLE@@
         </dl>
      </div>
      <div id="content">
         <p><a class="back" href="../index.html">Back</a></p>
      </div>
      @@INCLUDE@@ footer.html
