      @@INCLUDE@@ header.html
      <div id="content">
         {%Content%}
      </div>
      <div id="centered">
         <h3 align="center">Last posts</h3>
         <details>
            <summary>Weekly development reports</summary>
            <details class="yeartop">
               <summary>2022</summary>
               <dl>
                  @@TABLE@@
                  <dt><a href="{%devbloglinks2022%}">{%devbloglinkstext2022%}</a></dt>
                  @@END_TABLE@@
               </dl>
            </details>
            <details class="yearbottom">
               <summary>2021</summary>
               <dl>
                  @@TABLE@@
                  <dt><a href="{%devbloglinks2021%}">{%devbloglinkstext2021%}</a></dt>
                  @@END_TABLE@@
               </dl>
            </details>
            <details class="yearbottom">
               <summary>2020</summary>
               <dl>
                  @@TABLE@@
                  <dt><a href="{%devbloglinks2020%}">{%devbloglinkstext2020%}</a></dt>
                  @@END_TABLE@@
               </dl>
            </details>
         </details>
         <details>
            <summary>Last articles</summary>
            <dl>
               @@TABLE@@
               <dt><a href="{%bloglinks%}">{%bloglinkstext%}</a> ({%bloglinksdate%})</dt>
               <dd>{%bloglinksdesc%}</dd>
               @@END_TABLE@@
            </dl>
         </details>
      </div>
      <div id="content">
         <p><a class="back" href="../index.html">Back</a></p>
      </div>
      @@INCLUDE@@ footer.html
