<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <link href="assets/css/style.css" rel="stylesheet" />
      <title>{%title%} | {%Name%}</title>
   </head>
   <body>
      <h1 class="center">{%title%}</h1>
      <div id="content">
         @@IF@@ {%EXIST:summary%}
         <details>
            <summary>{%summary%}</summary>
            {%details%}
         </details>
         @@END_IF@@
         {%Content%}
         <p><a href="index.html">Back</a></p>
      </div>
      <footer>
         <p class="center">Contact: <a href="https://matrix.to/#/@thindil:matrix.org">@thindil:matrix.org</a>. Generated: {%NOW%} with <a href="https://yet-another-static-site-generator.github.io/">Yass</a>.</p>
      </footer>
   </body>
</html>
