<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      @@IF@@ {%EXIST:author%}
      <meta name="author" content="{%author%}">
      @@END_IF@@
      @@IF@@ {%EXIST:summary%}
      <meta name="description" content="{%summary%}">
      @@END_IF@@
      <link rel="canonical" href="{%canonicallink%}" />
      <link href="{%BaseURL%}/assets/css/style.css" rel="stylesheet" />
      <title>{%title%} | {%Name%}</title>
   </head>
   <body>
      <h1 class="title">{%title%}</h1>
