<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <link href="assets/css/style.css" rel="stylesheet" />
      <title>{%title%} | {%Name%}</title>
   </head>
   <body>
      <h1 class="title">{%title%}</h1>
      <div id="centered">
         <h3 class="center">Ada Programming Language</h3>
         <dl>
         @@TABLE@@
            <dt><a href="{%adalinks%}">{%adalinkstext%}</a></dt>
            <dd>{%adalinksdesc%}</dd>
         @@END_TABLE@@
         </dl>
         <h3 class="center">Other</h3>
         <dl>
         @@TABLE@@
            <dt><a href="{%otherlinks%}">{%otherlinkstext%}</a></dt>
            <dd>{%otherlinksdesc%}</dd>
         @@END_TABLE@@
         </dl>
         <h3 class="center">About Laeran.pl</h3>
         <dl>
         @@TABLE@@
            <dt><a href="{%aboutlinks%}">{%aboutlinkstext%}</a></dt>
            <dd>{%aboutlinksdesc%}</dd>
         @@END_TABLE@@
         </dl>
      </div>
      <footer>
         <p class="center">Contact: <a href="https://matrix.to/#/@thindil:matrix.org">@thindil:matrix.org</a>. Generated: {%NOW%} with <a href="https://yet-another-static-site-generator.github.io/">Yass</a>.</p>
      </footer>
   </body>
</html>
