      @@INCLUDE@@ header.html
      <div id="centered">
         <h3 class="center">Ada Programming Language</h3>
         <dl>
         @@TABLE@@
            <dt><a href="{%adalinks%}">{%adalinkstext%}</a></dt>
            <dd>{%adalinksdesc%}</dd>
         @@END_TABLE@@
         </dl>
         <h3 class="center">Personal</h3>
         <dl>
         @@TABLE@@
            <dt><a href="{%otherlinks%}">{%otherlinkstext%}</a></dt>
            <dd>{%otherlinksdesc%}</dd>
         @@END_TABLE@@
         </dl>
         <h3 class="center">About Laeran.pl</h3>
         <dl>
         @@TABLE@@
            <dt><a href="{%aboutlinks%}">{%aboutlinkstext%}</a></dt>
            <dd>{%aboutlinksdesc%}</dd>
         @@END_TABLE@@
         </dl>
      </div>
      @@INCLUDE@@ footer.html
